{
    "clientId": "application-id-from-discord-dev-portal",
    "token": "bot-token",
    "frontendHost": "http://localhost:4200/",
    "db": {
        "database": "shounentime",
        "username": "user",
        "password": "password",
        "options": {
            "host": "localhost",
            "dialect": "mysql"
        }
    }
}